/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0rem;
  padding: 0rem;
  /* font-family: "Poppins", sans-serif;
   */
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#4b01c6, #270066);
  color: white;
}
.logo-container {
  background-image: url(https://www.iplt20.com/assets/images/ipl-logo-new-old.png);
  background-repeat: no-repeat;
  height: 6rem;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 4rem;
}
.flex {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  border-radius: 15px;
}

.flex-container {
  background-color: #d9cdea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  margin-top: 3rem;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(245, 241, 241, 0.2);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  width: 19rem;
  height: 19rem;
  padding: 30px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0.4, 0, 0, 0.6);
}

.card h3 {
  font-size: 3rem;
  margin-top: -3rem;
  border-bottom: 1px solid hsl(234, 14%, 74%);
  margin: 0rem;
}

.card button {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 3rem;
  background-color: #d9cdea;
  border-radius: 2rem;
  cursor: pointer;
}

.card button:hover {
  background-color: #fe2505;
  color: white;
}

.card p {
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flex .card1 {
  background-image: linear-gradient(#fac501, #f55101);
}

.flex .card2 {
  background-image: linear-gradient(#1b66ba, #2e289d);
}

.flex .card3 {
  background-image: linear-gradient(#19222b, #103d6a);
}
.flex .card4 {
  background-image: linear-gradient(#470060, #60008b);
}
.flex .card5 {
  background-image: linear-gradient(#b9004e, #eec100);
}
.flex .card6 {
  background-image: linear-gradient(#2055b1, #1a297c);
}
.flex .card7 {
  background-image: linear-gradient(#df0016, #920118);
}
.flex .card8 {
  background-image: linear-gradient(#ec0181, #1b064c);
}
.flex .card9 {
  background-image: linear-gradient(#fac501, #f55101);
}

@media screen and (max-width: 800px) {
  h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
  }
  .flex {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
  }

  .card p {
    font-size: 0.9rem;
    width: 100%;
    margin-top: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .card h3 {
    font-size: 2rem;
    margin-top: -3rem;
    border-bottom: 1px solid hsl(234, 14%, 74%);
    margin: 0rem;
  }
  .flex-container {
    padding: 30px;
  }
}
